# Exploring Alpha Vantage API

### Imports- **Run First**

In [1]:
#open file with your API key
with open('Alpha_Vantage_API_key.txt') as file:
    API_key = file.read()
API_key = API_key.strip()

In [2]:
#import libraries
from alpha_vantage.timeseries import TimeSeries

import requests
from bs4 import BeautifulSoup

import pandas as pd
import io

In [3]:
#build TimeSeries variable from Alpha Vantage API
ts1 = TimeSeries(key = API_key)

### How to put stock data into a DataFrame

#### Requests Method

In [15]:
#get weekly stock data of Apple in DataFrame format
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=AAPL&apikey={API_key}&datatype=csv'
r = requests.get(url).content
data = pd.read_csv(io.StringIO(r.decode('utf-8')))

print(data)

       timestamp    open    high      low   close     volume
0     2023-09-06  188.28  189.98  181.470  182.91  127035843
1     2023-09-01  180.09  189.92  178.545  189.46  264199503
2     2023-08-25  175.07  181.55  173.735  178.61  247514268
3     2023-08-18  177.97  179.69  171.960  174.49  261498109
4     2023-08-11  182.13  183.13  176.550  177.79  332501087
...          ...     ...     ...      ...     ...        ...
1239  1999-12-10  114.56  118.00   99.000  103.00   25152800
1240  1999-12-03   94.25  115.56   93.250  115.00   28046300
1241  1999-11-26   91.75   95.50   88.500   95.06    9757600
1242  1999-11-19   89.62   94.75   88.060   92.44   13711000
1243  1999-11-12   87.75   97.73   86.750   90.62   25776200

[1244 rows x 6 columns]

In [16]:
#get head of data
data.head(10)

    timestamp    open    high      low   close     volume
0  2023-09-06  188.28  189.98  181.470  182.91  127035843
1  2023-09-01  180.09  189.92  178.545  189.46  264199503
2  2023-08-25  175.07  181.55  173.735  178.61  247514268
3  2023-08-18  177.97  179.69  171.960  174.49  261498109
4  2023-08-11  182.13  183.13  176.550  177.79  332501087
5  2023-08-04  196.06  196.73  181.920  181.99  302694989
6  2023-07-28  193.41  197.20  192.250  195.83  226011789
7  2023-07-21  191.90  198.23  191.230  191.94  310914135
8  2023-07-14  189.26  191.70  186.600  190.69  250269110
9  2023-07-07  193.78  193.88  189.200  190.68  170349466

#### Python Package Method

In [17]:
#store Apple stock intraday data in data and meta_data variables
apple1, meta_data = ts1.get_intraday('AAPL')

In [18]:
#print meta_data
print(meta_data)

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2023-09-06 19:45:00', '4. Interval': '15min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}

In [19]:
#print data
print(apple1)

{'2023-09-06 19:45:00': {'1. open': '182.7300', '2. high': '182.7800', '3. low': '182.5600', '4. close': '182.5650', '5. volume': '17510'}, '2023-09-06 19:30:00': {'1. open': '182.7100', '2. high': '182.7700', '3. low': '182.6600', '4. close': '182.7700', '5. volume': '12334'}, '2023-09-06 19:15:00': {'1. open': '182.7300', '2. high': '182.8000', '3. low': '182.6700', '4. close': '182.7000', '5. volume': '24972'}, '2023-09-06 19:00:00': {'1. open': '182.6900', '2. high': '182.7400', '3. low': '182.6500', '4. close': '182.7200', '5. volume': '9010'}, '2023-09-06 18:45:00': {'1. open': '182.7800', '2. high': '182.7800', '3. low': '182.6500', '4. close': '182.7000', '5. volume': '12735'}, '2023-09-06 18:30:00': {'1. open': '182.7800', '2. high': '182.8000', '3. low': '182.6500', '4. close': '182.7500', '5. volume': '11932'}, '2023-09-06 18:15:00': {'1. open': '182.8600', '2. high': '182.8600', '3. low': '175.4430', '4. close': '182.7600', '5. volume': '16574'}, '2023-09-06 18:00:00': {'1. open': '182.6550', '2. high': '182.8800', '3. low': '182.6100', '4. close': '182.8300', '5. volume': '12502'}, '2023-09-06 17:45:00': {'1. open': '182.6200', '2. high': '182.9100', '3. low': '182.5300', '4. close': '182.6500', '5. volume': '19340'}, '2023-09-06 17:30:00': {'1. open': '182.5900', '2. high': '182.8300', '3. low': '182.5000', '4. close': '182.6500', '5. volume': '32153'}, '2023-09-06 17:15:00': {'1. open': '182.4600', '2. high': '182.6900', '3. low': '182.4400', '4. close': '182.6150', '5. volume': '32624'}, '2023-09-06 17:00:00': {'1. open': '182.7900', '2. high': '182.8200', '3. low': '182.3200', '4. close': '182.4500', '5. volume': '96488'}, '2023-09-06 16:45:00': {'1. open': '182.8400', '2. high': '182.9100', '3. low': '182.7200', '4. close': '182.7700', '5. volume': '130456'}, '2023-09-06 16:30:00': {'1. open': '182.8800', '2. high': '182.9500', '3. low': '182.8200', '4. close': '182.8400', '5. volume': '165060'}, '2023-09-06 16:15:00': {'1. open': '182.8200', '2. high': '182.9500', '3. low': '182.7500', '4. close': '182.9100', '5. volume': '102903'}, '2023-09-06 16:00:00': {'1. open': '182.8800', '2. high': '183.0000', '3. low': '182.7600', '4. close': '182.8200', '5. volume': '14302887'}, '2023-09-06 15:45:00': {'1. open': '182.1800', '2. high': '183.0200', '3. low': '181.9500', '4. close': '182.9000', '5. volume': '8384235'}, '2023-09-06 15:30:00': {'1. open': '181.5300', '2. high': '182.2000', '3. low': '181.4900', '4. close': '182.1800', '5. volume': '3536356'}, '2023-09-06 15:15:00': {'1. open': '182.0500', '2. high': '182.1600', '3. low': '181.4700', '4. close': '181.5200', '5. volume': '3059191'}, '2023-09-06 15:00:00': {'1. open': '182.1900', '2. high': '182.2900', '3. low': '181.8700', '4. close': '182.0600', '5. volume': '2525881'}, '2023-09-06 14:45:00': {'1. open': '182.7150', '2. high': '182.7300', '3. low': '182.1600', '4. close': '182.2000', '5. volume': '1812445'}, '2023-09-06 14:30:00': {'1. open': '182.6350', '2. high': '182.9000', '3. low': '182.5600', '4. close': '182.7150', '5. volume': '1884582'}, '2023-09-06 14:15:00': {'1. open': '182.7100', '2. high': '182.7500', '3. low': '182.1300', '4. close': '182.6340', '5. volume': '2197713'}, '2023-09-06 14:00:00': {'1. open': '182.9660', '2. high': '183.0100', '3. low': '182.4100', '4. close': '182.7200', '5. volume': '1809400'}, '2023-09-06 13:45:00': {'1. open': '182.9100', '2. high': '183.1700', '3. low': '182.6700', '4. close': '182.9700', '5. volume': '1698365'}, '2023-09-06 13:30:00': {'1. open': '182.9100', '2. high': '183.1400', '3. low': '182.8200', '4. close': '182.9200', '5. volume': '1289967'}, '2023-09-06 13:15:00': {'1. open': '183.2800', '2. high': '183.4200', '3. low': '182.8100', '4. close': '182.9150', '5. volume': '1675003'}, '2023-09-06 13:00:00': {'1. open': '183.1150', '2. high': '183.3400', '3. low': '182.7700', '4. close': '183.2800', '5. volume': '1616855'}, '2023-09-06 12:45:00': {'1. open': '182.9700', '2. high': '183.1300', '3. low': '182.8000', '4. close': '183.1150', '5. volume': '1591926'}, '2023-09-06 12:30:00': {'1. open': '183.2100', '2. high': '183.3100', '3. low': '182.9500', '4. close': '182.9700', '5. volume': '1785364'}, '2023-09-06 12:15:00': {'1. open': '183.6300', '2. high': '183.6950', '3. low': '183.1600', '4. close': '183.2100', '5. volume': '2131052'}, '2023-09-06 12:00:00': {'1. open': '184.1450', '2. high': '184.3200', '3. low': '183.6300', '4. close': '183.6320', '5. volume': '1765198'}, '2023-09-06 11:45:00': {'1. open': '184.1250', '2. high': '184.2850', '3. low': '183.9600', '4. close': '184.1500', '5. volume': '1500583'}, '2023-09-06 11:30:00': {'1. open': '184.0240', '2. high': '184.3100', '3. low': '183.9450', '4. close': '184.1220', '5. volume': '1644202'}, '2023-09-06 11:15:00': {'1. open': '183.7000', '2. high': '184.0900', '3. low': '183.5800', '4. close': '184.0300', '5. volume': '2000634'}, '2023-09-06 11:00:00': {'1. open': '184.0200', '2. high': '184.0900', '3. low': '183.5300', '4. close': '183.7020', '5. volume': '2755357'}, '2023-09-06 10:45:00': {'1. open': '184.4200', '2. high': '185.0900', '3. low': '183.9600', '4. close': '184.0190', '5. volume': '2463418'}, '2023-09-06 10:30:00': {'1. open': '184.1500', '2. high': '184.5200', '3. low': '184.0550', '4. close': '184.4200', '5. volume': '2572139'}, '2023-09-06 10:15:00': {'1. open': '184.2600', '2. high': '185.3400', '3. low': '184.1200', '4. close': '184.1700', '5. volume': '4123466'}, '2023-09-06 10:00:00': {'1. open': '186.5300', '2. high': '186.5300', '3. low': '183.9300', '4. close': '184.2700', '5. volume': '7214449'}, '2023-09-06 09:45:00': {'1. open': '186.9100', '2. high': '188.6120', '3. low': '186.5000', '4. close': '186.5400', '5. volume': '3475080'}, '2023-09-06 09:30:00': {'1. open': '188.4000', '2. high': '188.8500', '3. low': '186.8300', '4. close': '186.9150', '5. volume': '5564072'}, '2023-09-06 09:15:00': {'1. open': '188.1550', '2. high': '188.5000', '3. low': '187.7300', '4. close': '188.4100', '5. volume': '83047'}, '2023-09-06 09:00:00': {'1. open': '188.4200', '2. high': '189.7000', '3. low': '188.0800', '4. close': '188.1100', '5. volume': '113265'}, '2023-09-06 08:45:00': {'1. open': '188.3100', '2. high': '188.4200', '3. low': '188.2100', '4. close': '188.3900', '5. volume': '67464'}, '2023-09-06 08:30:00': {'1. open': '188.4300', '2. high': '188.4900', '3. low': '188.2200', '4. close': '188.3200', '5. volume': '85787'}, '2023-09-06 08:15:00': {'1. open': '188.4300', '2. high': '189.7000', '3. low': '188.3500', '4. close': '188.4300', '5. volume': '50753'}, '2023-09-06 08:00:00': {'1. open': '188.4200', '2. high': '189.7000', '3. low': '188.0110', '4. close': '188.4100', '5. volume': '116626'}, '2023-09-06 07:45:00': {'1. open': '188.5700', '2. high': '188.5800', '3. low': '188.3700', '4. close': '188.5000', '5. volume': '41872'}, '2023-09-06 07:30:00': {'1. open': '188.7200', '2. high': '188.8400', '3. low': '188.5100', '4. close': '188.5400', '5. volume': '21547'}, '2023-09-06 07:15:00': {'1. open': '188.6500', '2. high': '188.7800', '3. low': '188.5900', '4. close': '188.7200', '5. volume': '27304'}, '2023-09-06 07:00:00': {'1. open': '188.4400', '2. high': '188.6800', '3. low': '188.3800', '4. close': '188.6500', '5. volume': '35881'}, '2023-09-06 06:45:00': {'1. open': '188.4000', '2. high': '188.4500', '3. low': '188.2100', '4. close': '188.3900', '5. volume': '13011'}, '2023-09-06 06:30:00': {'1. open': '188.4000', '2. high': '188.5300', '3. low': '188.3300', '4. close': '188.3500', '5. volume': '11616'}, '2023-09-06 06:15:00': {'1. open': '188.3900', '2. high': '188.4100', '3. low': '188.2700', '4. close': '188.4000', '5. volume': '8649'}, '2023-09-06 06:00:00': {'1. open': '188.4300', '2. high': '188.4400', '3. low': '188.3000', '4. close': '188.3900', '5. volume': '9573'}, '2023-09-06 05:45:00': {'1. open': '188.3300', '2. high': '188.4600', '3. low': '188.3300', '4. close': '188.4500', '5. volume': '4491'}, '2023-09-06 05:30:00': {'1. open': '188.2500', '2. high': '188.3300', '3. low': '188.2500', '4. close': '188.3200', '5. volume': '1758'}, '2023-09-06 05:15:00': {'1. open': '188.2000', '2. high': '188.3800', '3. low': '188.2000', '4. close': '188.2700', '5. volume': '4677'}, '2023-09-06 05:00:00': {'1. open': '188.1800', '2. high': '188.2800', '3. low': '188.1300', '4. close': '188.2000', '5. volume': '20616'}, '2023-09-06 04:45:00': {'1. open': '188.2200', '2. high': '188.2900', '3. low': '188.1300', '4. close': '188.2100', '5. volume': '14743'}, '2023-09-06 04:30:00': {'1. open': '188.4000', '2. high': '188.4800', '3. low': '188.0200', '4. close': '188.2000', '5. volume': '16104'}, '2023-09-06 04:15:00': {'1. open': '188.4500', '2. high': '188.4500', '3. low': '188.2000', '4. close': '188.4000', '5. volume': '10454'}, '2023-09-06 04:00:00': {'1. open': '189.4300', '2. high': '189.5300', '3. low': '188.2900', '4. close': '188.4500', '5. volume': '25462'}, '2023-09-05 19:45:00': {'1. open': '189.6100', '2. high': '189.7000', '3. low': '189.5500', '4. close': '189.7000', '5. volume': '9853'}, '2023-09-05 19:30:00': {'1. open': '189.7000', '2. high': '189.7200', '3. low': '189.5300', '4. close': '189.5600', '5. volume': '6037'}, '2023-09-05 19:15:00': {'1. open': '189.7250', '2. high': '189.7500', '3. low': '189.5300', '4. close': '189.6550', '5. volume': '4836'}, '2023-09-05 19:00:00': {'1. open': '189.7000', '2. high': '189.8000', '3. low': '189.7000', '4. close': '189.7500', '5. volume': '5695'}, '2023-09-05 18:45:00': {'1. open': '189.6790', '2. high': '189.7400', '3. low': '189.5300', '4. close': '189.7300', '5. volume': '9111'}, '2023-09-05 18:30:00': {'1. open': '189.6000', '2. high': '189.7000', '3. low': '189.5500', '4. close': '189.6700', '5. volume': '5379'}, '2023-09-05 18:15:00': {'1. open': '189.5500', '2. high': '189.6900', '3. low': '189.5200', '4. close': '189.5950', '5. volume': '7955'}, '2023-09-05 18:00:00': {'1. open': '189.5400', '2. high': '189.5700', '3. low': '189.5000', '4. close': '189.5400', '5. volume': '7674'}, '2023-09-05 17:45:00': {'1. open': '189.5650', '2. high': '189.5800', '3. low': '189.5400', '4. close': '189.5450', '5. volume': '5535'}, '2023-09-05 17:30:00': {'1. open': '189.5700', '2. high': '196.6140', '3. low': '176.2880', '4. close': '189.5600', '5. volume': '5469'}, '2023-09-05 17:15:00': {'1. open': '189.5700', '2. high': '192.9420', '3. low': '179.1360', '4. close': '189.5700', '5. volume': '3747'}, '2023-09-05 17:00:00': {'1. open': '189.5500', '2. high': '189.6000', '3. low': '189.5400', '4. close': '189.5700', '5. volume': '6597'}, '2023-09-05 16:45:00': {'1. open': '189.7000', '2. high': '189.7000', '3. low': '189.5200', '4. close': '189.5600', '5. volume': '442067'}, '2023-09-05 16:30:00': {'1. open': '189.6400', '2. high': '189.7000', '3. low': '189.5100', '4. close': '189.5450', '5. volume': '26950'}, '2023-09-05 16:15:00': {'1. open': '189.6500', '2. high': '189.7000', '3. low': '189.6100', '4. close': '189.6400', '5. volume': '97707'}, '2023-09-05 16:00:00': {'1. open': '189.7000', '2. high': '189.7800', '3. low': '178.9670', '4. close': '189.6500', '5. volume': '10173444'}, '2023-09-05 15:45:00': {'1. open': '189.9300', '2. high': '189.9800', '3. low': '189.5200', '4. close': '189.7000', '5. volume': '3102579'}, '2023-09-05 15:30:00': {'1. open': '189.5450', '2. high': '189.9600', '3. low': '189.5450', '4. close': '189.9300', '5. volume': '1326952'}, '2023-09-05 15:15:00': {'1. open': '189.5660', '2. high': '189.6600', '3. low': '189.4700', '4. close': '189.5480', '5. volume': '812673'}, '2023-09-05 15:00:00': {'1. open': '189.9300', '2. high': '189.9400', '3. low': '189.5000', '4. close': '189.5600', '5. volume': '1059714'}, '2023-09-05 14:45:00': {'1. open': '189.5730', '2. high': '189.9500', '3. low': '189.5200', '4. close': '189.9400', '5. volume': '860754'}, '2023-09-05 14:30:00': {'1. open': '189.8450', '2. high': '189.8790', '3. low': '189.5350', '4. close': '189.5750', '5. volume': '782791'}, '2023-09-05 14:15:00': {'1. open': '189.4800', '2. high': '189.8800', '3. low': '189.4650', '4. close': '189.8400', '5. volume': '782199'}, '2023-09-05 14:00:00': {'1. open': '189.4400', '2. high': '189.5300', '3. low': '189.3200', '4. close': '189.4700', '5. volume': '612100'}, '2023-09-05 13:45:00': {'1. open': '189.3600', '2. high': '189.5070', '3. low': '189.2900', '4. close': '189.4350', '5. volume': '526586'}, '2023-09-05 13:30:00': {'1. open': '189.2300', '2. high': '189.4100', '3. low': '189.1600', '4. close': '189.3580', '5. volume': '627287'}, '2023-09-05 13:15:00': {'1. open': '189.4000', '2. high': '189.4400', '3. low': '189.1950', '4. close': '189.2300', '5. volume': '628534'}, '2023-09-05 13:00:00': {'1. open': '189.6500', '2. high': '189.7000', '3. low': '189.2900', '4. close': '189.4000', '5. volume': '844439'}, '2023-09-05 12:45:00': {'1. open': '189.7000', '2. high': '189.8100', '3. low': '189.6000', '4. close': '189.6400', '5. volume': '1027691'}, '2023-09-05 12:30:00': {'1. open': '189.5900', '2. high': '189.8000', '3. low': '189.5600', '4. close': '189.7050', '5. volume': '1250931'}, '2023-09-05 12:15:00': {'1. open': '189.6500', '2. high': '189.7600', '3. low': '189.4850', '4. close': '189.5870', '5. volume': '868330'}, '2023-09-05 12:00:00': {'1. open': '189.4090', '2. high': '189.6650', '3. low': '189.3700', '4. close': '189.6450', '5. volume': '870017'}, '2023-09-05 11:45:00': {'1. open': '189.1600', '2. high': '189.4100', '3. low': '189.0900', '4. close': '189.4000', '5. volume': '931368'}, '2023-09-05 11:30:00': {'1. open': '189.1650', '2. high': '189.2400', '3. low': '188.9800', '4. close': '189.1650', '5. volume': '997142'}, '2023-09-05 11:15:00': {'1. open': '189.3700', '2. high': '189.6100', '3. low': '189.1500', '4. close': '189.1500', '5. volume': '2115762'}, '2023-09-05 11:00:00': {'1. open': '189.0600', '2. high': '189.6000', '3. low': '189.0450', '4. close': '189.3700', '5. volume': '1783625'}}

In [20]:
#store data into a DataFrame
df_appel1 = pd.DataFrame(apple1).transpose().reset_index()
df_appel1.head()

                 index   1. open   2. high    3. low  4. close 5. volume
0  2023-09-06 19:45:00  182.7300  182.7800  182.5600  182.5650     17510
1  2023-09-06 19:30:00  182.7100  182.7700  182.6600  182.7700     12334
2  2023-09-06 19:15:00  182.7300  182.8000  182.6700  182.7000     24972
3  2023-09-06 19:00:00  182.6900  182.7400  182.6500  182.7200      9010
4  2023-09-06 18:45:00  182.7800  182.7800  182.6500  182.7000     12735

In [21]:
#Bring in data in DataFrame format
ts2 = TimeSeries(key=API_key, output_format='pandas')

In [22]:
# display new intraday stock data
ts2.get_intraday('AAPL')

(                     1. open  2. high   3. low  4. close  5. volume
 date
 2023-09-06 19:45:00  182.730  182.780  182.560   182.565    17510.0
 2023-09-06 19:30:00  182.710  182.770  182.660   182.770    12334.0
 2023-09-06 19:15:00  182.730  182.800  182.670   182.700    24972.0
 2023-09-06 19:00:00  182.690  182.740  182.650   182.720     9010.0
 2023-09-06 18:45:00  182.780  182.780  182.650   182.700    12735.0
 ...                      ...      ...      ...       ...        ...
 2023-09-05 12:00:00  189.409  189.665  189.370   189.645   870017.0
 2023-09-05 11:45:00  189.160  189.410  189.090   189.400   931368.0
 2023-09-05 11:30:00  189.165  189.240  188.980   189.165   997142.0
 2023-09-05 11:15:00  189.370  189.610  189.150   189.150  2115762.0
 2023-09-05 11:00:00  189.060  189.600  189.045   189.370  1783625.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'AAPL',
  '3. Last Refreshed': '2023-09-06 19:45:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [23]:
#get full amount of intraday stock data for data and meta_data
df_apple2, meta_data = ts2.get_intraday("AAPL", outputsize="full")

In [24]:
#print meta_data
print(meta_data)

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume', '2. Symbol': 'AAPL', '3. Last Refreshed': '2023-09-06 19:45:00', '4. Interval': '15min', '5. Output Size': 'Full size', '6. Time Zone': 'US/Eastern'}

In [25]:
#print data with reset index
df_apple2.reset_index()
print(df_apple2)

                     1. open  2. high  3. low  4. close  5. volume
date
2023-09-06 19:45:00   182.73   182.78  182.56   182.565    17510.0
2023-09-06 19:30:00   182.71   182.77  182.66   182.770    12334.0
2023-09-06 19:15:00   182.73   182.80  182.67   182.700    24972.0
2023-09-06 19:00:00   182.69   182.74  182.65   182.720     9010.0
2023-09-06 18:45:00   182.78   182.78  182.65   182.700    12735.0
...                      ...      ...     ...       ...        ...
2023-08-16 05:00:00   178.03   178.14  177.99   178.100    13384.0
2023-08-16 04:45:00   178.03   178.07  178.00   178.010     4177.0
2023-08-16 04:30:00   178.02   178.09  177.94   178.050     2812.0
2023-08-16 04:15:00   177.98   178.12  177.98   178.070     5039.0
2023-08-16 04:00:00   177.79   178.12  177.79   177.990     4775.0

[960 rows x 5 columns]